<div class="bgfullSize bg-image--forest opacity-75"></div>
<div class="bgfullSize bgColor--filterBlack"></div>

<article class="forumSubjects">
    <header>
        <div class="col-12 py-2 text-light text-center">
            <div>
                <h1>Bienvenue sur ce salon</h1>
                <h2>Vous avez besoin d'aide ?</h2>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row rounded text-bg-light bg-opacity-10 pt-3 mb-3">
            <!-- CHARTE DU FORUM -->
            <div class="col-12">
                <p class="text-light forumCharte">Ici, vous pouvez discuter, questionner, échanger avec les autres
                    membres de la communauté. Afin que tout se passe bien, voici quelques règles à respecter...
                    <a class="forumCharte" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        lire la suite
                    </a>
                </p>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Règles du forum</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <app-charte></app-charte>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- {# AJOUTER UN SUJET #} -->
            <div *ngIf="auth.isAuth()" class="text-center text-bg-light bg-opacity-10 py-4">
                <a class="h5 btn btn-warning" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                    aria-expanded="false" aria-controls="multiCollapseExample1">
                    Poser votre question
                </a>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body p-4">
                        <form #form="ngForm" (submit)="addSubject(form)" enctype="multipart/form-data">
                            <div class="form-group mb-3">
                                <label for="title">Titre</label>
                                <input [(ngModel)]="titleSubject" type="text" class="form-control" id="title" name="title"
                                    aria-describedby="title" placeholder="Saisir un titre">
                                <small id="title_error" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <div id="forum-editor">
                                    <ckeditor [(ngModel)]="contentEditor" [editor]="Editor" name="description" [config]="{ 
                                        toolbar: {
                                            items: [
                                                'undo', 'redo',
                                                '|', 'heading',
                                                '|', 'fontfamily', 'fontsize', 'fontColor', 'fontBackgroundColor',
                                                '|', 'bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'code',
                                                '|', 'link', 'uploadImage','insertTable',
                                                '|', 'bulletedList', 'numberedList'
                                            ]
                                        },
                                    }" [ngStyle]="{backgroundColor: 'blue'}"></ckeditor>
                                </div>
                                <small id="description_error" class="form-text text-muted"></small>
                            </div>
                            <button class="btn btn-primary">Publier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <select class="form-select" aria-label="Multiple select example" [(ngModel)]="categoryId" (ngModelChange)="onCategoryChange($event)">
                <option selected [value]="-1">Toutes catégories</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
            </select>
        </div>

        <!-- LES SUJETS -->
        <div class="row">
            <div class="card mb-3" *ngFor="let sujet of forumSubjectPaginate.forumSubjects">
                <div class="card-body">
                    <div *ngIf="sujet.user.filename ; else iconUserByDefault">
                        <div class="avatarForforumSubject">
                            <img [src]="PUBLIC_URL_GET_FILE_USER + sujet.user.filename" class="img-fluid"
                                alt="Avatar" />
                        </div>
                    </div>
                    <ng-template #iconUserByDefault>
                        <img src="assets/images/icones/connexion.png" alt="Avatar" class="">
                    </ng-template>
                    <p>
                        <span class="me-2">{{sujet.user.pseudo}}</span>
                        <small class="text-body-secondary">{{sujet.createdAt | date:"dd/MM/yyyy hh:mm:ss"}}</small>
                    </p>

                    <div class="d-flex flex-column flex-lg-row justify-content-between">
                        <h5 class="card-title">{{sujet.title}}</h5>
                        <p *ngIf="sujet.forumCategories.length > 0">
                            <span *ngFor="let category of sujet.forumCategories; let last = last">{{category.name}}{{
                                !last ? ', ' : '' }}</span>
                        </p>
                    </div>

                    <div class="showEditor">
                        <ckeditor [editor]="Editor" [data]="sujet.description" [config]="{ toolbar: {items: []} }"
                            [disabled]="true"></ckeditor>
                    </div>

                    <button type="button" class="btn btn-primary position-relative" *ngIf="sujet.comments.length > 0 ">
                        Réponses
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{sujet.comments.length}}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <app-paginator [itemsPerPage]="itemsPerPage" [totalItems]="forumSubjectPaginate.forumSubjectLength"
        (paginationSettings)="handlePaginationEvent($event)"></app-paginator>
</article>
