<div class="bgfullSize bg-image--forest opacity-75"></div>
<div class="bgfullSize bgColor--filterBlack"></div>

<article class="forumSubjects">
    <header>
        <div class="col-12 py-2 text-light text-center">
            <div>
                <h1 class="title-text-shadow">Bienvenue sur ce salon</h1>
                <h2>Vous avez besoin d'aide ?</h2>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row rounded text-bg-light bg-opacity-10 pt-3 mb-3 justify-content-center">
            <!-- CHARTE DU FORUM -->
            <div class="col-12">
                <p class="text-light forumCharte">Ici, vous pouvez discuter, questionner, échanger avec les autres
                    membres de la communauté. Afin que tout se passe bien, voici quelques règles à respecter...
                    <a class="forumCharte" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        lire la suite
                    </a>
                </p>

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Charte de la communauté</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <app-charte></app-charte>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!auth.isAuth()" class="col-lg-8 text-center mb-3">
                <button type="button" class="btn btn-outline-warning"
                    routerLink="/securite/authentification">Connecte-toi ou inscrit-toi maintenant pour participer aux
                    discussions !</button>
            </div>

            <!-- {# AJOUTER UN SUJET #} -->
            <div *ngIf="auth.isAuth()" class="text-bg-light bg-opacity-10 py-4">
                <div class="text-center">
                    <a class="h5 btn btn-warning" data-bs-toggle="collapse" href="#collapseExample1" role="button"
                        aria-expanded="false" aria-controls="multiCollapseExample1">
                        Créer une Publication
                    </a>
                </div>

                <div class="collapse" id="collapseExample1">
                    <div class="card card-body bg-light bg-opacity-25">
                        <form #form="ngForm" (submit)="addSubject(form)" enctype="multipart/form-data">

                            <div class="mb-3">
                                <label for="title" class="ms-3 mb-1">Titre</label>
                                <input [(ngModel)]="forumSubjectAdd.title" type="text" class="form-control" id="title"
                                    name="title" aria-describedby="title" placeholder="Saisir un titre" required>
                                <small class="fw-bold text-raspberry" *ngIf="!errors['title']">{{
                                    errors['title']}}</small>
                            </div>


                            <div class="mb-3">
                                <label for="title" class="ms-3 mb-1">Catégories</label>
                                <select class="form-select" multiple size="5"
                                    [(ngModel)]="forumSubjectAdd.forumCategories" name="categoriesId">
                                    <option selected [ngValue]="-1">Toutes catégories</option>
                                    <option *ngFor="let category of categories" [value]="category.id">{{category.name}}
                                    </option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <label for="description" class="ms-3 mb-1">Description</label>
                                <div class="forum-editor">
                                    <ckeditor [(ngModel)]="forumSubjectAdd.description" [editor]="Editor"
                                        name="description" [config]="{ 
                                        toolbar: {
                                            items: [
                                                'undo', 'redo',
                                                '|', 'heading',
                                                '|', 'fontfamily', 'fontsize', 'fontColor', 'fontBackgroundColor',
                                                '|', 'bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'code',
                                                '|', 'link', 'uploadImage','insertTable',
                                                '|', 'bulletedList', 'numberedList'
                                            ]
                                        },
                                    }" required></ckeditor>
                                </div>
                                <small class="fw-bold text-raspberry" *ngIf="errors['description']">{{
                                    errors['description']
                                    }}</small>
                            </div>
                            <button class="btn btn-warning">Publier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- LISTE DES CATEGORIES -->
        <div class="row mb-3">
            <select class="form-select" aria-label="Multiple select example" [(ngModel)]="filterCategoryId"
                (ngModelChange)="onCategoryChange($event)">
                <option selected [ngValue]="undefined">Toutes catégorie</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}} -
                    {{category.forumSubjects.length}} sujets</option>
            </select>
        </div>

        <!-- LES SUJETS -->
        <div class="row">
            <div class="card mb-3" *ngFor="let sujet of forumSubjectPaginate.forumSubjects; index as i">
                <div class="card-body">
                    <div *ngIf="sujet.user.filename ; else iconUserByDefault">
                        <div class="avatar-for-forum-subject">
                            <img [src]="PUBLIC_URL_GET_FILE_USER + sujet.user.filename" class="img-fluid"
                                alt="Avatar" />
                        </div>
                    </div>
                    <ng-template #iconUserByDefault>
                        <img src="assets/images/icones/connexion.png" alt="Avatar" class="">
                    </ng-template>
                    <p>
                        <span class="me-2">{{sujet.user.pseudo}}</span>
                        <small class="text-body-secondary">{{sujet.createdAt | date:"dd/MM/yyyy hh:mm:ss"}}</small>
                    </p>

                    <div class="d-flex flex-column flex-lg-row justify-content-between">
                        <h5 class="card-title">{{sujet.title}}</h5>
                        <p *ngIf="sujet.forumCategories">
                            <span
                                *ngFor="let category of sujet.forumCategories; let last = last">{{category.name}}{{!last
                                ? ', ' : '' }}</span>
                        </p>
                    </div>

                    <div class="show-editor">
                        <ckeditor [editor]="Editor" [data]="sujet.description" [config]="{ toolbar: {items: []} }"
                            [disabled]="true"></ckeditor>
                    </div>

                    <div *ngIf="auth.isAuth() && auth.getUser()?.username != sujet.user.email" class="mb-3">
                        <h5>Répondre ...</h5>
                        <div class="commentary-editor">
                            <ckeditor placeholder="message..." [editor]="Editor" [(ngModel)]="commentarySend" [config]="{
                                toolbar: {
                                    items: [
                                        'undo', 'redo',
                                        '|', 'heading',
                                        '|', 'fontfamily', 'fontsize', 'fontColor', 'fontBackgroundColor',
                                        '|', 'bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'code',
                                        '|', 'link', 'uploadImage','insertTable',
                                        '|', 'bulletedList', 'numberedList'
                                    ]
                                }
                            }"></ckeditor>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-dark rounded-0 w-100"
                                (click)="addCommentary(sujet.id)">
                                <fa-icon [icon]="faMessage"></fa-icon> Envoyer...
                            </button>
                        </div>
                    </div>

                    <!-- AJOUTER UN COMMENTAIRE -->

                    <!-- BOUTON VOIR LES COMMENTAIRES -->
                    <button type="button" class="btn btn-primary position-relative mb-3"
                        *ngIf="sujet.forumCommentaries.length > 0" (click)="toggleCommentary(i)">
                        <fa-icon [icon]="faComments"></fa-icon> commentaires
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{sujet.forumCommentaries.length}}
                        </span>
                    </button>

                    <!-- AFFICHER LES COMMENTAIRES -->
                    <div *ngIf="isShowCommentary[i]">
                        <div class="p-4 border rounded shadow mb-3" *ngFor="let comment of sujet.forumCommentaries">
                            <div class="d-flex align-items-center justify-content-between">
                                <span class="fw-bold text-muted">{{comment.user.pseudo}} le {{comment.createdAt |
                                    date:"dd/MM/yyyy "}}</span>

                                <div *ngIf="sujet.user.filename ; else iconUserByDefault">
                                    <div class="avatar-for-forum-commentary">
                                        <img [src]="PUBLIC_URL_GET_FILE_USER + comment.user.filename" class="img-fluid"
                                            alt="Avatar" />
                                    </div>
                                </div>
                                <ng-template #iconUserByDefault>
                                    <img src="assets/images/icones/connexion.png" alt="Avatar" class="">
                                </ng-template>
                            </div>
                            <div class="show-editor">
                                <ckeditor [editor]="Editor" [data]="comment.commentary"
                                    [config]="{ toolbar: {items: []} }" [disabled]="true"></ckeditor>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-paginator [itemsPerPage]="itemsPerPage" [totalItems]="forumSubjectPaginate.forumSubjectLength"
        (paginationSettings)="handlePaginationEvent($event)"></app-paginator>
</article>