<div class="bgfullSize bg-image--error404"></div>
<div class="bgfullSize bgColor--filterBlack"></div>

<article class="container-fluid d-flex flex-column justify-content-around align-items-center text-light erreur">
    <div class="row">
        <div class="col">
            <h1 class="text-center erreur__title">...OOPS  Erreur 404 - Page introuvable</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center erreur__title font-italic">Désolé, vous avez emprunté le mauvais chemin !<br>Nous allons arranger ça.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a [routerLink]="['/']" class="btn btn-outline-light btn-lg">Retour en page d'accueil</a>
        </div>
    </div>     
</article>
