<div class="container py-3">
    <div class="d-flex align-items-center">
        <div>
            <a [routerLink]="['/admin/comestibilite/liste']" href="" class="btn btn-info" title="Retour"><fa-icon
                    class="text-light" [icon]="faRotateLeft"></fa-icon></a>
        </div>
        <div class="flex-grow-1">
            <h1 class="text-center my-3">{{edibility.id === 0 ? 'Nouveau' : "Modifier : " + edibility.name}}
            </h1>
        </div>
    </div>

    <ng-template [ngIf]="selectedImage" [ngIfElse]="showOriginal">
        <div class="d-flex justify-content-center border py-4 mb-3 bg-dark rounded shadow">
            <img *ngIf="selectedImage" [src]="selectedImage" alt="Image sélectionnée" height="200">
        </div>
    </ng-template>
    <ng-template #showOriginal>
        <div *ngIf="edibility.id !== 0" class="d-flex justify-content-center border py-4 mb-3 bg-dark rounded shadow">
            <img [src]="PUBLIC_URL_GET_FILE_EDIBILITY + edibility.path" alt="edibility.name" height="200" >
        </div>
    </ng-template>


    <form #form="ngForm" (ngSubmit)="send(form)" class="fw-bold" enctype="multipart/form-data">
        <!-- NOM -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-dark">
            <label for="name" class="form-label">Nom</label>
            <input [(ngModel)]="edibility.name" placeholder="Texte afficher" type="text" class="form-control border-0"
                id="name" name="name">
        </div>
        <!-- path - CHAMP OBLIGATOIRE -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-dark">
            <label for="path" class="form-label" title="Saisie obligatoire">Choisir une image
                <span class="text-danger">*</span>
            </label>
            <input [(ngModel)]="edibility.path" placeholder="Nom français utilisé pour identifier l'espèce." type="file"
                class="form-control" id="path" name="path" (change)="onFileSelected($event)">
        </div>
        <button class="btn btn-primary">Envoyer</button>
    </form>
</div>