<div class="container">
    <header class="row border-bottom">
        <h1 class="text-center">Changer de mot de passe</h1>
    </header>
    <div class="row justify-content-center mt-4">
        <div class="col col-md-10 col-lg-8">
            <form #form="ngForm" (submit)="send(form)" enctype="multipart/form-data">

                <div class="mb-3">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" id="button-password"
                            (click)="togglePasswordVisibility('password')">
                            <fa-icon [icon]="faEye"></fa-icon>
                        </button>
                        <input type="password" ngModel id="password" name="password" class="form-control"
                            placeholder="Ancien mot de passe" aria-label="Example text with button addon"
                            aria-describedby="button-password" required>
                    </div>
                    <small class="text-danger" *ngIf="errors['password']">{{ errors['password'] }}</small>
                </div>

                <div class="mb-3">
                <div class="input-group mb-3">
                    <button class="btn btn-outline-secondary" type="button" id="button-newPassword"
                        (click)="togglePasswordVisibility('newPassword')">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </button>
                    <input type="password" ngModel id="newPassword" name="newPassword" class="form-control"
                        placeholder="Nouveau mot de passe" aria-label="Example text with button addon"
                        aria-describedby="button-newPassword" required>
                </div>
                <small class="text-danger" *ngIf="errors['newPassword']">{{ errors['newPassword'] }}</small>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <button class="btn btn-outline-secondary" type="button" id="button-confirmNewPassword"
                            (click)="togglePasswordVisibility('confirmNewPassword')">
                            <fa-icon [icon]="faEye"></fa-icon>
                        </button>
                        <input type="password" ngModel id="confirmNewPassword" name="confirmNewPassword"
                            class="form-control" placeholder="Confirmer nouveau mot de passe"
                            aria-label="Example text with button addon" aria-describedby="button-confirmNewPassword"
                            required>
                    </div>
                    <small class="text-danger" *ngIf="errors['confirmNewPassword']">{{ errors['confirmNewPassword']
                        }}</small>
                    <small class="text-danger" *ngIf="errorPassword">Les mots de passe ne correspondent pas !</small>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</div>