<div class="container">
    <header class="row border-bottom">
        <h1 class="text-center">Changer de mot de passe</h1>
    </header>
    <div class="row justify-content-center mt-4">
        <div class="col col-md-10 col-lg-8">
        <form #form="ngForm" (submit)="send(form)" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" id="button-password"
                    (click)="togglePasswordVisibility()"><fa-icon [icon]="faEye"></fa-icon></button>
                <input type="password" id="password" name="password" class="form-control" placeholder="Ancien mot de passe"
                    aria-label="Example text with button addon" aria-describedby="button-password">
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" id="button-newPassword"
                    (click)="togglePasswordVisibility()"><fa-icon [icon]="faEye"></fa-icon></button>
                <input type="newPassword" id="newPassword" name="newPassword" class="form-control" placeholder="Nouveau mot de passe"
                    aria-label="Example text with button addon" aria-describedby="button-newPassword">
            </div>
            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" id="button-ConfirmNewPassword"
                    (click)="togglePasswordVisibility()"><fa-icon [icon]="faEye"></fa-icon></button>
                <input type="ConfirmNewPassword" id="ConfirmNewPassword" name="ConfirmNewPassword" class="form-control" placeholder="Confirmer nouveau mot de passe"
                    aria-label="Example text with button addon" aria-describedby="button-ConfirmNewPassword">
            </div>
        </form>
    </div>
    </div>
</div>