

.navbar {
    background-color: rgba(255, 255, 255,0.2);
    font-family: 'Roboto Condensed Bold';
    
    .search {
        max-width: 400px;
    }

    .dropdown-menu {
        font-family: 'Roboto Condensed Regular';
    }

    li {
        letter-spacing: 0.5px;
    }

    .noUnderline {
        text-decoration-line: none;
    }

    &__description--background {
        background-color: rgba(0, 0, 0, 0.2);
    }

}