<div class="container py-3">
    <h1 class="text-center">Liste de champignons</h1>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Photo</th>
                <th scope="col">Nom commun</th>
                <th scope="col">Consommable</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mushroom of mushrooms">
                <td scope="row">{{mushroom.id}}</td>
                <td>
                    <img class="" *ngIf="mushroom.medias.length > 0; else default" [src]="API_URL_GET_FILE_MUSHROOM + mushroom.medias[0].path" alt="{{mushroom.commonname}}" width="100">
                    <ng-template #default>
                        <img class="" src="assets/images/icones/default.png" alt="{{mushroom.commonname}}" width="100">
                    </ng-template>
                </td>
                <td>{{mushroom.commonname}}</td>
                <td>{{ mushroom.edibility.name }}</td>
                <td>
                    <div class="d-flex">
                        <a [routerLink]="['/admin/champignon/description', mushroom.slug]" href="" class="btn btn-outline-success me-2" title="Voir la description"><fa-icon [icon]="faCircleInfo"></fa-icon></a>
                        <a [routerLink]="['/admin/champignon/editer', mushroom.slug]" href="" class="btn btn-outline-success me-2" title="Editer"><fa-icon [icon]="faEdit"></fa-icon></a>
                        <a (click)="delete(mushroom.id)" class="btn btn-outline-danger" title="Supprimer"><fa-icon [icon]="faTrash"></fa-icon></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>