<div class="container py-3">

    <div class="d-flex align-items-center">
        <div>
            <a [routerLink]="['/admin/champignon/Liste-des-champignons']" href="" class="btn btn-info"
                title="Retour"><fa-icon class="text-light" [icon]="faRotateLeft"></fa-icon></a>
        </div>
        <div class="flex-grow-1">
            <h1 class="text-center my-3">{{mushroom.commonname && mushroom.commonname !='' ? 'Editer: ' +
                mushroom.commonname : 'Ajouter nouvelle espèce'}}</h1>
        </div>
    </div>

    <h1 class="text-center mb-3"></h1>

    <form #form="ngForm" (submit)="send(form)" class="fw-bold" enctype="multipart/form-data">

        <!-- NOM COMMUN - CHAMP OBLIGATOIRE -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-danger">
            <label for="commonname" class="form-label" title="Saisie obligatoire">Nom commun <span
                    class="text-danger">*</span></label>
            <input [(ngModel)]="mushroom.commonname" placeholder="Nom français utilisé pour identifier l'espèce."
                type="text" class="form-control border-0" id="commonname" name="commonname" required>
        </div>

        <!-- NOM LATIN -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <label for="latinname" class="form-label">Nom latin</label>
            <input [(ngModel)]="mushroom.latinname"
                placeholder="Le nom latin est sa dénomination scientifique binominale composée du genre suivi de l'épithète spécifique."
                type="text" class="form-control border-0" id="latinname" name="latinname">
        </div>

        <!--  NOM LOCAL  -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <app-add-localname (localnameEvent)="addLocalname($event)"></app-add-localname>
            <ul class="list-group mt-3">
                <li class="list-group-item fw-normal" *ngFor="let localname of mushroom?.localnames">
                    {{localname.name}}
                </li>
            </ul>
        </div>

        <!-- ////// COMESTIBILITE ////// -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <label for="edibility" class="form-label">Comestibilité</label>
            <select class="form-select border-2 border-start-0 border-top-0 border-end-0"
                [(ngModel)]="mushroom.edibility" name="edibility" id="edibility">
                <option [value]="{id: 0}" selected>Choisir....</option>
                <option *ngFor="let edibility of edibilities" [value]="edibility?.id">{{ edibility?.name }}</option>
            </select>
        </div>

        <!-- MEDIAS -->
        <div class="pb-2 mb-4 border-bottom border-secondary">
            <h4 class="fw-semibold mb-4">Photos / Images</h4>
            <!-- Liste des médias existants en mode modification donc mushroom.id est différent de 0-->
            <ng-template [ngIf]="mushroom.id != 0">
                <h5 class="mb-3">Liste des images existantes</h5>
                <div class="table-responsive mb-4">
                    <table class="table table-dark table-striped fw-normal">
                        <thead>
                            <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Fichier</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let media of mushroom?.medias" class="table-secondary">
                                <td>
                                    <!-- Affichage de l'image -->
                                    <img class="rounded" [src]="PUBLIC_URL_GET_FILE_MUSHROOM + media?.filename"
                                        alt="{{ media?.filename}}" width="100">
                                </td>
                                <td>
                                    {{ media.name }}
                                </td>
                                <td>
                                    {{ media.filename }}
                                </td>
                                <td>
                                    <div class="d-flex">
                                        <ng-template [ngIf]="media.id">
                                            <!-- <a [routerLink]="['/admin/media/editer/', media?.id]" href=""
                                            class="btn btn-outline-success me-2" title="Editer">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                        </a> -->
                                            <a (click)="delete(media?.id)" class="btn btn-outline-danger"
                                                title="Supprimer">
                                                <fa-icon [icon]="faTrash"></fa-icon>
                                            </a>
                                        </ng-template>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </ng-template>

            <!-- Composant pour ajouter des médias -->
            <h5 class="mb-3">Téléverser des images (format autoriser: jpg, png, gif)</h5>
            <app-add-media (mediaEvent)="addMedia($event)"></app-add-media>
            <!-- Liste des médias ajouté -->
            <p class="fw-semibold">Liste des médias ajoutés</p>
            <div class="table-responsive">
                <table class="table table-dark table-striped fw-normal">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Fichier</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let media of medias; index as i" class="table-secondary">
                            <td>
                                <!-- Affichage de l'image -->
                                <img *ngIf="selectedImage[i]" [src]="selectedImage[i]" alt="Image sélectionnée"
                                    height="200">
                            </td>
                            <td>
                                {{ media.name }}
                            </td>
                            <td>
                                {{ media.filename }}
                            </td>
                            <td>
                                <div class="d-flex">
                                    <ng-template [ngIf]="media.id" [ngIfElse]="add">
                                        <a [routerLink]="['/admin/media/editer/', media?.id]" href=""
                                            class="btn btn-outline-success me-2" title="Editer">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                        </a>
                                        <a (click)="delete(media?.id)" class="btn btn-outline-danger" title="Supprimer">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                        </a>
                                    </ng-template>
                                    <ng-template #add>
                                        <!-- <a (click)="deleteMedia(media?.filename)" class="btn btn-outline-danger" title="Supprimer">
                                            <fa-icon [icon]="faTrash"></fa-icon>
                                        </a> -->
                                    </ng-template>

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- CHAIR -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <label for="flesh" class="form-label">Chair</label>
            <textarea [(ngModel)]="mushroom.flesh"
                placeholder="La chair se réfère au tissu intérieur situé sous la surface, jouant un rôle clé dans la structure et la texture du champignon."
                class="form-control border-0" id="flesh" rows="3" name="flesh">
            </textarea>
        </div>

        <!-- CHAPEAU -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <label for="hat" class="form-label">Chapeau</label>
            <textarea [(ngModel)]="mushroom.hat"
                placeholder="Le chapeau est la partie supérieure généralement en forme de disque qui recouvre le sommet du champignon et abrite les structures de reproduction telles que les lamelles et l'hyménium."
                class="form-control border-0" id="hat" rows="3" name="hat">
            </textarea>
        </div>

        <!-- LAMELLE -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <label for="lamella" class="form-label">Hyménium</label>
            <textarea [(ngModel)]="mushroom.lamella"
                placeholder="L'hyménium est la surface fertile d'un champignon, comprenant généralement les lamelles, où les spores sont produites et libérées."
                class="form-control border-0" id="lamella" rows="3" name="lamella">
            </textarea>
        </div>

        <!-- ////// TYPE DE LAMELLE ////// -->
        <!-- <div class="mb-3">
            <label for="lamellatype" class="form-label">Type de lamelles</label>
            <select class="form-select" [(ngModel)]="mushroom.lamellatype" name="lamellatype" id="lamellatype">
                <option [value]="{id: 0}" selected>Choisir...</option>
                <option *ngFor="let lamellatype of lamellaTypes" [value]="lamellatype?.id">{{ lamellatype?.name }}</option>
            </select>
        </div> -->

        <!-- PIED -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <label for="foot" class="form-label">Pied</label>
            <textarea [(ngModel)]="mushroom.foot"
                placeholder="Le pied est une partie cylindrique qui s'étend depuis la base jusqu'au chapeau et peut présenter des variations de couleur, de texture et de taille selon les espèces."
                class="form-control border-0" id="foot" rows="3" name="foot">
            </textarea>
        </div>

        <!-- HABITAT -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <label for="habitat" class="form-label">Habitat</label>
            <textarea [(ngModel)]="mushroom.habitat"
                placeholder="L'habitat fait référence à son environnement naturel où il pousse, tel que les forêts, les prairies humides ou les zones décomposant des matières organiques."
                class="form-control border-0" id="habitat" rows="3" name="habitat">
            </textarea>
        </div>

        <!-- COMMENTAIRE -->
        <div class="h4 fw-semibold pb-2 mb-4 border-bottom border-secondary">
            <label for="comment" class="form-label">Commentaire</label>
            <textarea [(ngModel)]="mushroom.comment" placeholder="Commentaire" class="form-control border-0"
                id="comment" rows="3" name="comment"></textarea>
        </div>

        <button class="btn btn-primary">Envoyer</button>
    </form>

</div>