/* You can add global styles to this file, and also import other style files */



.home {
    min-height: calc(100vh - 80px);
    overflow: hidden;

    h1 {
        font-size: 6em;
        letter-spacing: 10px;
        animation: zoomInUp;
        animation-duration: 1.2s;
    }

    h2 {
        font-family: 'Lobster Two', cursive;
        font-size: 1.5em;
        line-height: 1.5;
        animation: fadeIn;
        animation-duration: 3s;
    }
    

    &__video-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -100;
    }

}