<section class="position-relative d-flex flex-column justify-content-around align-items-center home">

    <!-- Video -->
    <video class="home__video-bg" autoplay loop muted>
        <source src="assets/videos/bg-video_edit.mp4" type="video/mp4">
        Votre navigateur ne prend pas en charge la balise vidéo.
    </video>

    <!-- Background transparent pour assombrir -->
    <div class="position-absolute bg-black bg-opacity-50 w-100 h-100 z-n1"></div>

    <!-- TITRE PRINCIPAL -->
    <h1 class="text-center text-light z-2 title-text-shadow">Le royaume des champignons</h1>

    <!-- PRESENTATION DU SITE -->
    <div class="container z-2">
        <a class="text-decoration-none" [routerLink]="['/guide-des-champignons']">
            <h2 class="text-light">
                Bienvenue sur notre site dédié à l'identification des champignons.
                Notre objectif est de vous immerger dans l'univers fascinant des champignons et de
                vous offrir une expérience unique.</h2>

            <h2 class="text-light">
                Parcourez nos galeries de photos pour observer de près ces spécimens étonnants, en apprendre davantage
                sur leur habitat et leurs caractéristiques distinctives. Nous espérons que cette plateforme vous
                permettra de mieux apprécier et comprendre le monde étonnant des champignons.
            </h2>
        </a>
    </div>
</section>