<div>

    <div class="d-flex justify-content-evenly align-items-center">
        <div>
            <a [routerLink]="['/admin/champignon/Liste-des-champignons']" href="" class="btn btn-info"
                title="Retour"><fa-icon class="text-light" [icon]="faRotateLeft"></fa-icon></a>
        </div>
        <div>
            <h1 class="text-center my-3">{{mushroom?.commonname}}</h1>
        </div>
        <div>
            <a [routerLink]="['/admin/champignon/editer', mushroom?.id]" href="" class="btn btn-outline-success me-2"
                title="Editer"><fa-icon [icon]="faEdit"></fa-icon></a>
            <a (click)="delete(mushroom?.id)" class="btn btn-outline-danger  me-2" title="Supprimer"><fa-icon
                    [icon]="faTrash"></fa-icon></a>
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">id</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.id}}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Créé le</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.createdAt}}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 border-bottom me-1">Modifié le</div>
        <div class="col-9 border-top py-2 border-bottom">
            {{mushroom?.updatedAt}}
        </div>
    </div>


    <h3 class="mt-3">Dénomination</h3>
    <div class="row">
        <div class="col-2 border-top py-2 me-1">Nom commun</div>
        <div class="col-9 border-top py-2">
            {{ mushroom?.commonname }}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Nom scientifique</div>
        <div class="col-9 border-top py-2">
            {{ mushroom?.latinname }}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Nom locale</div>
        <div class="col-9 border-top py-2">
            <ng-template [ngIf]="mushroom?.localnames" [ngIfElse]="message"
                *ngFor="let localname of mushroom?.localnames; index as i;">
                {{ localname?.name }}<span *ngIf="i < mushroom?.localnames?.length - 1">, </span>
            </ng-template>
            <ng-template #message>Aucun nom n'a été renseigné!</ng-template>
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top border-bottom py-2 me-1">Consultable</div>
        <div class="col-9 border-top border-bottom py-2">
            {{mushroom?.visibility ? 'Oui' : 'Non'}}
        </div>
    </div>


    <h3 class="mt-3">Photographies</h3>
    <div class="row">
        <div class="col-2 border-top py-2 me-1">Nombre de photos</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.medias?.length}}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Nom du fichier</div>
        <div class="col-9 border-top py-2" *ngFor="let media of mushroom?.medias">
            {{media?.name}}
        </div>
    </div>

    <div class="row">
        <div class="col-2">Photos</div>
        <div class="col-9">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Nom du fichier</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let media of mushroom?.medias">
                        <td>
                            <img class="rounded" [src]="PUBLIC_URL_GET_FILE_MUSHROOM + media?.filename"
                                alt="{{mushroom?.commonname}}" width="100">
                        </td>
                        <td>
                            {{ media?.filename }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <h3 class="mt-3">Caractéristiques</h3>
    <div class="row">
        <div class="col-2 border-top py-2 me-1">Chapeau</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.hat}}
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-2 border-top py-2 me-1">Type de lamelle</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.lamellaType}}
        </div>
    </div> -->

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Lamelle</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.medias?.length}}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Pied</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.foot}}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Chair</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.flesh}}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Habitat</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.habitat}}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Commentaire</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.comment}}
        </div>
    </div>

    <div class="row">
        <div class="col-2 border-top py-2 me-1">Appréciation Culinaire</div>
        <div class="col-9 border-top py-2">
            <img *ngIf=" mushroom?.edibility" [src]="PUBLIC_URL_GET_FILE_EDIBILITY + mushroom?.edibility?.filename"
                alt="?" style="filter: invert(1);" height="50">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2 border-top py-2 me-1">Slug</div>
        <div class="col-9 border-top py-2">
            {{mushroom?.slug}}
        </div>
    </div>
</div>