<div>
    <label for="name" class="form-label">Nom vernaculaire / nom local</label>
    <div class="input-group">
        <button (click)="addLocalname(name.value)" class="btn btn-outline-primary" type="button" id="button-addon1">Ajouter</button>
        <input 
            type="text" 
            class="form-control border-0" 
            placeholder="Le nom vernaculaire fait référence au terme utilisé dans une région spécifique pour désigner une espèce." 
            #name 
            id="name" 
            name="name"
        >
      </div>
</div>