<div class="sideNav">
    <div class="wrapper">
        <!-- 
        ----------------------------------------------------------- 
                            SLIDEBAR
        -----------------------------------------------------------                     
        -->
        <nav id="sidebar" [ngClass]="{'active': isSidebarActive}">

            <div class="sidebar-header">
                <h3>Espace personnel</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a [routerLink]="['/back-office/utilisateur/profil']">Voir mon profil</a>
                </li>
                <li>
                    <a [routerLink]="['/back-office/utilisateur/profil/editer']">Modifier mes données personnelles</a>
                </li>
                <li>
                    <a [routerLink]="['/back-office/utilisateur/profil/mdp/editer']">Changer de mot de passe</a>
                </li>
                <li class="active">
                    <a href="#forum" data-bs-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle">Forum</a>
                    <ul class="collapse list-unstyled" id="forum">
                        <li>
                            <a>Mes questions</a>
                        </li>
                        <li>
                            <a>Mes commentaires</a>
                        </li>
                    </ul>
                </li>
            </ul>

             <!-- 
                ------------------------------------------------------------------- 
            -->

            <ng-template [ngIf]="auth.isAdmin()">
                <!-- header sideBar -->
                <div class="sidebar-header">
                    <h3>Espace admin</h3>
                </div>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a data-bs-toggle="collapse" data-bs-target="#listeChampi" href="#" aria-expanded="false"
                            class="dropdown-toggle">Champignons</a>
                        <ul class="collapse list-unstyled" id="listeChampi">
                            <li>
                                <a [routerLink]="['/back-office/admin/champignon/Liste-des-champignons']">Liste des
                                    champignons</a>
                            </li>
                            <li>
                                <a [routerLink]="['/back-office/admin/champignon/nouveau']">Ajouter une nouvelle
                                    espèce</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a data-bs-toggle="collapse" href="#" data-bs-target="#saveurToxicite" aria-expanded="false"
                            class="dropdown-toggle">Comestibilité</a>
                        <ul class="collapse list-unstyled" id="saveurToxicite">
                            <li>
                                <a [routerLink]="['/back-office/admin/comestibilite/liste']">Afficher la liste</a>
                            </li>
                            <li>
                                <a [routerLink]="['/back-office/admin/comestibilite/nouveau']">Ajouter une nouvelle
                                    définition</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ng-template>

        </nav>

        <!-- 
        ----------------------------------------------------------- 
                            CONTENU DE LA PAGE
        -----------------------------------------------------------                     
        -->
        <div id="content">
            <div>
                <button type="button" id="sidebarCollapse" class="collapsed-btn" data-toggle="tooltip"
                    data-placement="top" title="Réduire / afficher la navigation" (click)="toggleSidebar()">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

            <div id="child-component">
                <!-- 
                ----------------------------------------------------------- 
                            AFFICHAGE DU COMPOSANT ENFANT
                -----------------------------------------------------------                     
                -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>