<footer class="container-fluid border-secondary border-top bg-dark text-light px-4 footer" id="footer">
    <div class="row">
        <div class="col-12 p-4 border-secondaryp border-bottom ">
            <h4 class="fw-bold text-center mb-3">AVERTISSEMENT</h4>
            <p class="container" style="text-align: justify;">
                Les informations contenues sur ce site sont fournies à titre informatif uniquement et ne doivent pas être considérées comme une expertise professionnelle. Il est recommandé de consulter un expert ou un professionnel qualifié avant de prendre toute décision basée sur ces informations.
                L'identification des champignons est une science complexe et difficile, même pour les experts. De nombreuses espèces de champignons sont similaires en apparence et peuvent être confondues. Il est donc important de faire preuve de prudence lors de la cueillette et de la consommation de champignons.
                <br>
                Si vous n'êtes pas sûr de l'identification d'un champignon, il est préférable de ne pas le cueillir. Il est également important de ne consommer que des champignons cueillis par des personnes expérimentées.
                En cas d'intoxication alimentaire par les champignons, il est important de consulter immédiatement un médecin.
                Nous déclinons toute responsabilité en cas d'utilisation incorrecte des informations présentes sur ce site.
            </p>
            <p class="fw-bold text-center" >Votre sécurité est notre priorité absolue !</p>
        </div>
    </div>
    <div class="row">
        <section class="col-12 col-md-4 col-lg-4 col-xl-4 p-4 order-2 order-md-1 border-secondary border-bottom">
            <div class="row">
                <h4 class="text-center">A propos</h4>
                <div class="col-12 pt-3 border-secondary border-bottom pb-3">
                    <div class="d-flex">
                        <div class="d-flex flex-column footer__langIcon px-3">
                            <a href="https://www.java.com/fr/" target="__blank">
                                <img src="assets/images/icones/stackTech/java.png" class="mb-2" alt="Java">
                            </a>
                            <a href="https://angular.io/" target="__blank">
                                <img src="assets/images/icones/stackTech/Angular.png" alt="Angular">
                            </a>
                        </div>
                        <div class="ps-3 ftsz-10">
                            <p class="py-3">
                                <span class="fw-bold">Développeur</span> : Lanza Eric <br>
                            </p>
                            <p class="mb-3 py-3">
                                Site réalisé avec Angular et java. <br>
                                - Angular, un framework JavaScript pour le front-end. <br>
                                - Java pour le back-end (API)
                            </p>
                            <div class="text-end">
                                <div class="badge text-bg-warning text-nowrap" style="width: 8rem;">
                                    Web full-stack
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center pt-5">
                    <p>
                        <a class="ftsz-15 footer__contact text-warning">Nous contacter</a>
                    </p>
                </div>
            </div>
        </section>
        <section
            class="col-12 col-md-5 col-lg-5 col-xl-4 p-4 order-1 order-md-2 border-secondary border-bottom d-flex flex-column align-items-center">
            <h4>Navigation</h4>
            <ul>
                <hr class="bg-secondary">
                <h5 class="text-secondary fw-bold ftsz-10">Le royaume des champignons</h5>
                <li>
                    <a class="" [routerLink]="['/guide-des-champignons']">Guide des champignons</a>
                </li>
                <li class="">
                    <a [routerLink]="['/forum']">Discussion
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="">
                    <a [routerLink]="['/actualite']">Actualités
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <ng-template [ngIf]="this.authenticated.isAuth()" [ngIfElse]="login">
                    <!-- Espace admin -->
                    <ng-template [ngIf]="authenticated.isAdmin()">
                        <hr class="bg-secondary">
                        <h5 class="text-secondary fw-bold ftsz-10">Accès administrateur</h5>
                        <li>
                            <a class="dropdown-item ftsz-9"
                                [routerLink]="['/back-office/admin/champignon/Liste-des-champignons']">Liste des
                                champignons</a>
                        </li>
                        <li>
                            <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/admin/champignon/nouveau']">Ajouter
                                une nouvelle espèce</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item ftsz-9"
                                [routerLink]="['/back-office/admin/comestibilite/liste']">Afficher la liste des saveurs et
                                toxicités</a>
                        </li>
                        <li>
                            <a class="dropdown-item ftsz-9"
                                [routerLink]="['/back-office/admin/comestibilite/nouveau']">Ajouter une nouvelle saveur ou
                                toxicité</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/admin/comestibilite/liste']">Liste
                                type de lamelle</a>
                        </li>
                        <li>
                            <a class="dropdown-item ftsz-9"
                                [routerLink]="['/back-office/admin/comestibilite/nouveau']">Ajouter nouveau type</a>
                        </li>
                    </ng-template>

                    <!-- Espace user -->
                    <hr class="bg-secondary">
                    <h5 class="text-secondary fw-bold ftsz-10">Accès membre</h5>
                    <li>
                        <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/utilisateur/profil']">Afficher mon
                            profil</a>
                    </li>
                    <li>
                        <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/utilisateur/profil/editer']">Mettre à
                            jour mon profil</a>
                    </li>
                    <li>
                        <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/utilisateur/profil/mdp/editer']">Changer de mot de passe</a>
                    </li>
                    <li><a (click)="logout()" href="#">Me déconnecter</a></li>
                    <hr class="bg-secondary">
                </ng-template>

                <ng-template #login>
                    <li><a class="">Se connecter / S'incrire</a></li>
                </ng-template>
                <li><a>Mentions légales</a></li>
                <!-- <li><a class="" id="showBoxCookiesManager">Cookies</a></li> -->
            </ul>
        </section>
        <section class="col-12 col-md-3 col-lg-3 col-xl-4 p-4 order-3 order-md-3">
            <div class="row">
                <div class="col-12">
                    <h4 class="text-center mb-3">Découvrir mes autres sites</h4>
                </div>
                <aside class="col-6 col-sm-4 col-md-12 col-xl-6 d-flex flex-column align-items-center">
                    <!-- {{ component.boxVideoLinkUrl(
                        "assets/images/icones/Screenshot_Meteo.png",
                        "assets/videos/raspBot.mp4",
                        "https://ricou12.github.io/Robotique/",
                        "Un projet robotique créé avec un Raspberry Pi et arduino ."
                    ) }} -->
                </aside>
                <aside class="col-6 col-sm-4 col-md-12 col-xl-6 d-flex flex-column align-items-center">
                    <!-- {{ component.boxVideoLinkUrl(
                        "assets/images/icones/Screenshot_Meteo.png",
                        "assets/videos/meteo.mp4",
                        "https://ricou12.github.io/meteo-webService/",
                        "Application météo Javascript uitlisant une API."
                    ) }} -->
                </aside>
                <aside class="col-6 col-sm-4 col-md-12 col-xl-6 d-flex flex-column align-items-center">
                    <!-- {{ component.boxVideoLinkUrl(
                        "assets/images/icones/Screenshot_Meteo.png",
                        "assets/videos/pictureBox.mp4",
                        "https://ricou12.github.io/PictureBox-BOOTSTRAP-JS/",
                        "Premier pas avec HTML, CSS, Javascript."
                    ) }} -->
                </aside>
                <aside class="footer__copyright ftsz-8">
                    <a href="http://copyright.be" target="_blank">Copyright © 2023 le royaume des champignons - Tous
                        droits réservés</a>
                </aside>
            </div>
        </section>
    </div>
    <!-- <div class="col-12 text-center p-4 border-secondary border-bottom">
        <h6><a routerLink="." fragment="#anchor" class="footer__debutPage ftsz-14"><fa-icon [icon]="faHandPointUp"></fa-icon></a></h6>
    </div> -->
</footer>