
h1 {
    font-size: 4.5em;
}

h2 {
    font-size: 1.5rem;
}

.containerImg {
    position: relative;
    width: 100px;
    height: auto;
    overflow: hidden;

    .zoom {
        transition: .8s;
    }

    .zoom:hover{
        scale: 1.2;
    }
  
}
