@import "../node_modules/rfs/scss.scss";

@import "./scss/bootstrap-init";
@import "./scss/global.scss";
@import "./scss/bg-image.scss";
@import "./scss/font.scss";
@import "./scss/bg-image.scss";


// FORUM IMPOSSIBLE D'APPLIQUER LE STYLE A PARTIR DU SCSS DU COMPONENT
.forumSubjects {
    .forum-editor {
        .ck-editor__editable_inline {
            min-height: 200px;
            overflow-y: auto;
        }
    }

    .commentary-editor {
        .ck-editor__editable_inline {
            min-height: 100px;
            overflow-y: auto;
        }
    }

    .show-editor {
        .ck-editor__editable_inline {
            border :none;
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.containerFullSize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bgfullSize {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
}

// Filtre d'arrière plan
.bgColor--filterBlack {
    background-color: rgba(0, 0, 0, 0.6);
}

/* pages/authentication/user */

@mixin containerImageCircle($size) {
    position: relative;
    width: $size;
    height: $size;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-for-forum-subject {
    @include containerImageCircle(100px);
}

.avatar-for-profil {
    @include containerImageCircle(200px);
}

.avatar-for-forum-commentary {
    @include containerImageCircle(50px);
}

.avatar-file-size {
    width: 200px;
}

// CONTENEUR ROND POUR IMAGE avec argument $size en pixel (200 px par defaut)
// @mixin createContainerCircle($size: 200px) {
//     position: relative;
//     width: $size;
//     height: $size;
//     overflow: hidden;
//     border-radius: 50%;
//   }

// .containerImageCircle {
//     @include createContainerCircle(100px);
// }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
