
@mixin bgImageForest($image) {
    position: absolute;
    background-image: url($image);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.bg-image--forest {
    @include bgImageForest("../assets/images/foret/foret-3.jpg");
}

.bg-image--forum {
    @include bgImageForest("../assets/images/foret/foret-2.jpg");
}

.bg-image--error404 {
    @include bgImageForest("../assets/images/foret/foret-5.jpg");
}

.bg-image--forest-2 {
    @include bgImageForest("../assets/images/divers/autumn-83761_1280.jpg");
}

.bg-image--forest-1 {
    @include bgImageForest("../assets/images/divers/fall-3193305_1280.jpg");
}


