
h1 {
    font-family: 'Tangerine', cursive;
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
    font-size:5.5em; 
}

h2 {
    font-family: 'Lobster Two', cursive;
    text-shadow: 2px 1px 5px rgb(0, 0, 0);
    font-size:1.2em;
}