<div class="containerFullSize"></div>
<!-- Video -->

<!-- <div class="background bgColor--filterBlack"></div> -->

<section class="position-relative d-flex flex-column justify-content-around align-items-center bg-danger home">
    <video class="home__video-bg" playsinline autoplay="true" loop muted>
        <source src="assets/videos/bg-video.mp4" type="video/mp4">
        <source src="assets/videos/bg-video.webm" type="video/webm">
    </video>
    
    <div class="row">
        <section class="col border">
            <h1 class="text-center text-light py-4 py-lg-5">Le royaume des champignons</h1>
        </section>
    </div>
    <div class="row">
        <section class="col border">
            <a href="#" style="text-decoration:none;">
                <h2 class="ft-lobster text-light text-center p-2 p-lg-5">Massif de la Sainte-Baumes, massif des Maures,
                    Alpes du Sud.</h2>
            </a>
        </section>
    </div>
</section>